@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);

#header1-8 H1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-11 .mbr-navbar__section {
  background: #000000;
}
#msg-box5-23 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-23 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-23 .mbr-article {
  color: #ffffff;
}
#msg-box5-22 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-22 .mbr-article {
  color: #ffffff;
}
#msg-box5-21 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-21 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-21 .mbr-article {
  color: #ffffff;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-11 .mbr-navbar__section {
  background: #000000;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-11 .mbr-navbar__section {
  background: #000000;
}
#msg-box4-8 .mbr-header__text {
  color: #fac51c;
}
#msg-box4-8 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8 .mbr-article {
  color: #000000;
}
#msg-box4-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9 .mbr-article {
  color: #ffffff;
}
#msg-box4-9 .mbr-article P {
  color: #000000;
}
#msg-box4-11 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-11 .mbr-article {
  color: #ffffff;
}
#msg-box4-11 .mbr-article P {
  color: #000000;
}
#msg-box4-12 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-12 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-12 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-article P {
  color: #000000;
}
#msg-box4-12 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-12 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-12 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #000000;
}
#msg-box4-14 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-14 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-14 .mbr-article {
  color: #ffffff;
}
